
.card {
    width: 20rem;
    margin: 20px auto;
    background-color: rgb(190, 191, 192);
}

.form-select {
    display: inline ;
    width: 50% ;
    margin: 5px ;
}

.winner{
    color: green;
}
.loser{
    color: red;
}
.p-name{
    margin: 0 auto;
    width: 65%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 30px;
    left: 50px;
    font-size: 30px;
}